
/* 데스크탑 화면일 경우에는 모바일 화면을 없애기 */
@media (min-width: 501px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
/* 모바일 화면일 경우에는 데스크탑 화면을 없애기 */
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}





/*
CSS 어렵다. 자꾸 해봐도 잠깐만 놔두면 텅~ 빈다.

- 혹시라도 나중에 다시봐야 한다면
- 위치, 크기 설정하는게 제일 어려워 보인다.
1. display
2. flex
3. position
위의 것을 잘 알아야 할 듯.

주석처리할 때 절대 // 쓰지말것. 안먹고 이상행동 한다.
background-image는 css에서 작성하고,
일반 작은 이미지는 html로 작성.
background-image의 경우 좌우끝까지 그려지고,
일반 작은 이미지는 대부분 innner라는 클래스의 width 안에서 작성.
*/


body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /*  none : 박스가 생성되지않아 아무런 공간도 갖지 않음.
    inline : inline 요소처럼 해당 영역만 갖고, 다음요소는 옆에 생성.
    block : block 요소처럼 해당 라인을 모두 차지.
  */
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  padding: 10px;
  border: 2px solid #592B18;
  border-radius: 4px;
  color: #592B18;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  transition: .4s;
  display: block;
}

.btn:hover {
  background-color: #592B18;
  color: #fff;
}

header {
  width: 100%;
  position: fixed;
  background-color: #F6F5F0;
  border-bottom: 1px  solid #c8c8c8;

  z-index: 9;
  top: 0;
}

header > .inner {
  height: 120px;
}

header .inner .logo {
  height: 75px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  /* display: none; */
}

header .inner .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}
header .inner .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .inner .sub-menu ul.menu li { 
  position: relative;
}
header .inner .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  display: block;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .inner .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .inner .sub-menu ul.menu li a {
  font-size: 13px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .inner .sub-menu ul.menu li a:hover {
  color: #000;
}
header .inner .sub-menu .search {  
  height: 34px;
  position: relative;
  cursor: pointer;
}
header .inner .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .inner .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .inner .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  transition: .4s;
}

header .inner .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  color: #fff;
  font-size: 14px;
  padding: 3px 0 12px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul {

}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  color: #999;
  font-size: 12px;
  padding: 5px 0;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__texture {
  background-image: url("../img/main_menu_pattern.jpg");
  font-size: 12px;
  padding: 26px 0;
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
  
}
header .main-menu .item .item__contents .contents__texture p {
  color: #690;
  margin: 4px 0 14px;
}

header .badges {
  position: fixed;
  right: 12px;
  top: 132px;
}

header .badges .badge {
  border-radius: 10px; 
  overflow: hidden;
  margin-bottom: 12px;
}

/* section1 */
.visual {
  margin-top: 120px;  /*  header .inner 의 height이 120*/
  background-image: url("../img/visual_bg.jpg");
}
.visual .inner {
  height: 646px;
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .image1 {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .text1 {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .image2 {
  position: absolute;
  bottom: 0px;
  right: 162px;
}
.visual .text2 {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0px;
  left: 275px;
}
.visual .title .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #592B18;
  border-radius: 4px;
  color: #592B18;
  font-size: 16px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  transition: .4s;
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .btn:hover {
  background-color: #592B18;
  color: #fff;
}

.visual .fade-in {
  opacity: 0;
}


/* section2 */
.notice {
  /*
  height: 62px; 
  background-color: orange;*/
}

.notice .notice-line{
  height: 62px;
  position: relative;
}

.notice .notice-line .bg-left{
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.notice .notice-line .bg-right{
  background-color: #f6f5ef;
  position: absolute;  /* 안하면 bg-left와 중첩*/
  top:0;
  right: 0;
  width: 50%;
  height: 100%;
}

.notice .notice-line .inner{
/*  height: 62px; */
  display: flex;
  height: 100%;
}

.notice .notice-line .inner .inner-left{
  width: 60%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .inner .inner-right{
  width: 40%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
/*  height: 62px;
  
  background-color: orange;*/
  height: 100%;
  flex-grow: 1;
}
.notice .notice-line .inner__left .notice-line__more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 100%;
/*  height: 62px;*/
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__left .swiper-slide{
  height: 100%;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide > a{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}


.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  background-color: #f6f5ef;
  display: flex;
  justify-content: flex-end;
}

.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
  cursor: pointer;
}

.notice .promotion{
   height: 693px;
   background-color: #f6f5ef;
   position: relative;

   /* main.js에서 toggle-promotion 선택 시 감추기 기능 */
   transition: height .4s;
   overflow: hidden;
}

/* main.js에서의 이벤트 hide  */
/* height: 0px로 화면 자체가 사라지며, 밑의 항목이 자동으로 올라옴 */
.notice .promotion.hide {
  height: 0px;
}

.notice .promotion .swiper-container{
/*    width, height는 이미지 사이즈로 설정. */
  width: calc(819px * 3 + 10px + 10px);/*2477px;*/
  height: 553px;  /*  90%로 한경우 이미지 밑에 [자세히 보기] 버튼이 위치함. 지금은 이미지 위의 하단에 생성 */

  text-align: center;
  font-size: 200px;
/*  background-color: orange;

    밑의 3줄을 하지않으면 화면이 커지거나 줄어들때 위치가 달라짐.
  position: absolute;*/
  left: 50%;
  margin-left: calc((819px * 3 + 10px + 10px) / -2);
}


.notice .promotion .swiper-container .swiper-slide{
  opacity: 0.5;
  position:relative;
}

.notice .promotion .swiper-container .swiper-slide .btn{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
  width: 130px;
}

.notice .promotion .swiper-pagination{
  left:0;
  right:0;
  bottom: 30px;

  /*  밑의 3줄을 하지않으면 화면이 커지거나 줄어들때 위치가 달라짐.
  position: absolute;
  left: 50%;
  margin-left: calc((819px * 3 + 10px + 10px) / -2);*/
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet{
  background-color: transparent;
  background-image: url("../img/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../img/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-container .swiper-slide-active{
  opacity: 1;
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next{
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 260px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
  background-color: #333;
  color: white;
}

.notice .promotion .swiper-prev{
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next{
  right: 50%;
  margin-right: -480px;
}

/* reward 섹션 */
.rewards {
  position: relative;
}
.rewards .bg-left {
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.rewards .bg-right {
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.rewards .inner {
  background-image: url("../img/rewards.jpg");
  height: 241px;
}

.rewards .btn-group{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position:absolute;
  right:0;
  bottom:24px;
}

.rewards .btn-group .sign-up {
  margin-right: 10px;
  width: 130px;
  border: 1px solid #333;
}
.btn--reverse{
  background-color: #333;
  color: #fff;
}

.rewards .btn-group .sign-in {
  width: 110px;
}
.rewards .btn-group .sign-in:hover {
  color: #fff;
  background-color: #333;
}
.rewards .btn-group .gift {
  margin-top: 10px;
  flex-grow: 1;
}
.rewards .btn-group .sign-in:hover {
  color: #fff;
  background-color: #333;
}


/* section5 */
.youtube {
  /* height: 500px; 
  background-color: green;*/
  position: relative;
  height: 700px;
  background-color: royalblue;
  overflow: hidden; /* 자신 영역을 벗어난 항목을 제거. 하지않으면 youtube__area 가 위 아래 넘쳐나다. */
}

.youtube .youtube__area{
  width: 1920px;
  background-color: orange;
  position:absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}

.youtube .youtube__area::before{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube #player{
  position: absolute;
  width: 100%;
  height: 100%;/*
  background-color: black;
*/
  top: 0;
  left: 0;
}

.youtube .youtube__cover{
  background-image: url("../img/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube .inner {
  height: 700px;
}
.youtube .floating {
  position: absolute;  
}
.youtube .floating1 {
  top: 50px;
  left: 0px;
}
.youtube .floating2 {
  top: 350px;
  left: 150px;
}
.youtube .floating3 {
  bottom: -200px;
  right: 0px;
}

/* section6 */
.season-product {
  /* height: 500px; */
  /* background-color: orange; */
  background-image: url("../img/season_product_bg.jpg");
  position: relative;
}
.season-product .inner {
  height: 400px;
  /* display: flex; */
}

.season-product .floating3 {
  /* .inner를 기준으로 정렬 */
  position: absolute;
  top: -200px;
  right: 0px;
}

.season-product .text-group {
  /* .inner를 기준으로 정렬 */
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description{
  margin-bottom: 15px;
}
.season-product .text-group .more {
  width: 130px;
}
.season-product .text-group .more .btn {
  color: #333;
  border-color: #333;
  background-color: transparent;
}
.season-product .text-group .more .btn:hover {
  color: #fff;
  border-color: #333;
  background-color: #333;
}


.reserve-coffee {
  background-image: url("../img/reserve_bg.jpg");
}
.reserve-coffee .inner {
  /* 모든 inner의 width는 1100px 로 맨 위에서 정의 */
  height: 400px;
}
.reserve-coffee .inner .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0px;
}
.reserve-coffee .inner .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .inner .text-group .more {
  width: 130px;
}
.reserve-coffee .inner .text-group .more .btn {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.reserve-coffee .inner .text-group .more .btn:hover {
  color: #fff;
  background-color: #D9AA8A;
}
.reserve-coffee .inner .product {
  position: absolute;
  top: 0px;
  right: 0px;
}

.pick-your-favorite{
  background-image: url("../img/favorite_bg.jpg");
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pick-your-favorite .inner{
  padding: 110px 0;
}

.pick-your-favorite .inner .text-group{
/*  background-color: orange;*/
  width: 362px;

  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*
  flex-wrap: wrap;
  justify-content: flex-end;*/
}

.pick-your-favorite .inner .text-group .title{
  margin-bottom: 40px;
}

.pick-your-favorite .inner .text-group .description{
  margin-bottom: 40px;
}

.pick-your-favorite .inner .text-group .btn{
  color: #fff;
  border-color: #fff;
  width: 130px;
}

.reserve-store{
  background-image: url("../img/reserve_store_bg.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reserve-store .inner{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .inner .medal{
  width: 334px;
  height: 334px;  
}

.reserve-store .inner .medal:hover .front{
  transform: rotateY(180deg);
}

.reserve-store .inner .medal:hover .back{
  transform: rotateY(0deg);
}

.reserve-store .inner .medal .front,
.reserve-store .inner .medal .back{
  /* 뒤에 위치한 요소 감추기와 transition은 움직이는 시간 1초 */
  backface-visibility: hidden;
  transition: 1s;
}

.reserve-store .inner .medal .front{
  /* 위아래에 위치한 front, back을 같은 위치로 이동 */
  position: absolute;
}

.reserve-store .inner .medal .back{
  /* 처음 위치할 때 좌우거울 처럼 출력 */
  transform: rotateY(180deg);
}

.reserve-store .inner .medal .back .btn{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto; /* 가운데 정렬 */
  width: 130px;
  top: 240px;     /*  위로 이동하여 back그림 안으로 이동 */
}

.find-store{
  background-image: url("../img/find_store_bg.jpg");
}

.find-store .inner{
  height: 400px;
  display: flex;/* 가로 정렬을 위해 사용 [find-store-pic-group, find-store-texture-group]*/
  border: 2 solid blue;
  position: relative;
}

/* 부모 컨테이너를 Flexbox로 설정하여 자식 요소를 정렬 */
.find-store .inner .find-store-pic-group {
  width: 40%;
  height: 100%;
  display: flex;/* 가로 정렬을 위해 사용 [nth-child(1), nth-child(2)]*/
  align-items: center;
  /* 자식 요소 position: absolute의 기준점을 이 요소로 설정 */
  position: relative;
}

/* 이미지 컨테이너가 부모 컨테이너의 크기에 맞춰지도록 설정 */
.find-store .inner .find-store-pic-group .find-store-pic-container {
  border-radius: 50%; /* div를 원형으로 만듬 */
  overflow: hidden;   /* 원형을 벗어난 이미지를 지움 */
}

/* 이미지 스타일 (컨테이너를 가득 채우도록 설정) 기본값이 그러므로 삭제 */
.find-store .inner .find-store-pic-group .find-store-pic-container img {
/*  width: 100%;
  height: 100%;
  object-fit: cover;*/
}

/*
.find-store .inner .find-store-pic-group .find-store-pic-container .find-store-pic1 
위의 것으로 하면 .find-store .inner .find-store-pic-group .find-store-pic-container 의 
설정값이 들지 않음.*/
.find-store .inner .find-store-pic-group .find-store-pic-container:nth-child(1){
  /* 첫번째 이미지 위치 조정 */
  position: absolute; 
  top: -50px;
  left: -50px;
}

.find-store .inner .find-store-pic-group .find-store-pic-container:nth-child(2){
  /* 두번째 이미지 위치 조정 */
  position: absolute;
  bottom: 20px;
  right: 0px;
}

/* texture를 나머지 가로 60% 적용하고, 내부에 text를 정렬 */
.find-store .inner .find-store-texture-group{
  width: 60%;
  height: 100%;

  display: flex;          /* 자식 요소들을 */
  flex-direction: column; /* 세로로 정렬 */
/*  justify-content: flex-start;*/  /* 맨위에 정렬 */
  justify-content: center;/* 세로의 가운데 정렬 */
  align-items: flex-start;      /* 왼쪽에 정렬 */
}

.find-store .inner .find-store-texture-group .find-store-texture1{
  position: absolute; /* 부모요소 find-store-texture-group를 기준 */
  top: 0;             /* 맨 위에 위치 */
}

.find-store .inner .find-store-texture-group .find-store-texture1 img{
/*  width: 100%;
  height: auto;
  object-fit: cover;*/
}

.find-store .inner .find-store-texture-group .find-store-txt-group{
  margin-left: 100px;       /* find-store-texture-group 기준 맨왼쪽에서 100px 떨어져 위치 */
/*  width: 40%;*/
  display: flex;            /* 자식요소들을 */
  flex-direction: column;   /* 세로로 정렬 */
  justify-content: center;  /* 맨위에 정렬 */
  align-items:flex-start;   /* 왼쪽에 정렬 */
}

.find-store .inner .find-store-txt-group .find-store-txt1{
  margin-bottom: 40px;
}

.find-store .inner .find-store-txt-group .find-store-txt2{
  margin-bottom: 40px;
}

.find-store .inner .find-store-txt-group .more{
  color: #fff;
  border-color: #fff;
  width: 130px;
}

.find-store .inner .find-store-texture-group .find-store-texture2{
  position: absolute; 
  bottom: 0;
  right: 0;
}
.find-store .inner .find-store-texture-group .find-store-texture2 img{
/*  max-width: 100%;
  height: auto;*/
}

.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper-container {
  width: 100%;
  height: 40px;
}
/* .awards .swiper-wrapper {
  
}
.awards .swiper-slide {

} */
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  margin: auto 0;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}
.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}